#{extends 'main.html' /} #{set title:'Upload' /} #{if categories}
<table class="table">
	<tr>
		<th>ID</th>
		<th>Category</th>
		<th>Date</th>
		<th>Action</th>
	</tr>

	#{list categories, as:'c'}
	<tr>
		<td>${c.id}</td>
		<td>${c.name}</td>
		<td>${c.createTime}</td>
		<td><a href="@{Files.list(c.name)}">view</a></td>
	</tr>
	#{/list}
</table>
#{/if} #{if files}
<h3>${category.name}</h3>
<table class="table">
	<tr>
		<th>ID</th>
		<th>revision</th>
		<th>Comment</th>
		<th>Date</th>
		<th>Action</th>
	</tr>

	#{list files, as:'file'}
	<tr>
		<td>${file.id}</td>
		<td>${file.revision}</td>
		<td>${file.comment}</td>
		<td>${file.createTime}</td>
		<td><a href="@{Files.download(file.revision, category.name)}">Download</a></td>
	</tr>
	#{/list}
</table>
#{/if}
